body, html {
    height: 100%;
}

body {
    background: lightblue;
}

.header {
    padding-top: 10px;
    display: flex;
    flex-direction: column;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 5px;
    
}

h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    
    
    
}

.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card {
    background: rgb(238, 218, 218);
    width: 100%;
    height: fit-content;
    padding: 15px;
    margin: 5px;
    border-radius: 10px;
    border: 8px solid black;
    content: 
    
}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bolder;
    font-size: 30px;
    text-decoration: underline;
}

li {
    margin: 6px;
}

 .card-4 li {
margin: 12px;
 }

 .card-1 li {
    margin: 12px;
 }
